@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: ivory;

}

h1 {
    color: midnightblue;
    margin-top: 100px;
    margin-left: 100px;
    font-family: "Poppins";
    font-size: 60px;
}

h3 {
    color: midnightblue;
    margin-left: 100px;
    font-family: "Poppins";
}

img {
    display: flex;
    flex-direction: column;
    margin-left: 100px;

}

p {
    color: midnightblue;
    margin-left: 100px;
    font-family: "Poppins"
}

a {
    margin-left: 100px;
    font-family: "Poppins";
}

footer {
    margin-left: 100px;
    font-family: "Poppins";
    font-style: italic;
}

.entry01img {
    /* entry 1 in chinatown */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 100px;

}

.entry02img {
    /* entry 2 in flatiron */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 100px;

}

.entry03img {
    /* entry 3 in les soho */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 100px;

}

.entry04img {
    /* entry 4 in williamsburg */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 100px;

}

.entry05img {
    /* entry 5 in fidi */
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    column-gap: 10px;
    row-gap: 50px;

}