@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    margin: 0%;
}

body {
    background-color: ivory;

}

h1 {
    color: midnightblue;
    margin-top: 50px;
    margin-left: 50px;
    font-family: "Poppins";
    text-align: left;
}

h3 {
    color: midnightblue;
    margin-left: 100px;
    font-family: "Poppins";
}

* {
    margin: 50;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    padding: 20px;
    background-color: ivory;
    text-align: left;
}

h1 {
    font-size: 80px;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 10px;
}

.image-grid {
    display: grid;
    gap: 10px;
    margin-left: 30px;
    padding-right: 70px;
    grid-template-columns: repeat(auto-fill, minmax(420px, 3fr));
}

.image-grid a img {
    width: 100%;
    height: auto;
    padding-right: 70px;
    padding-bottom: 70px;
    transition: transform 0.3s ease;
}

.image-grid a img:hover {
    transform: scale(1.05);
}

p {
    color: midnightblue;
    padding-bottom: 20px;
    margin-left: 100px;
    margin-right: 50px;
    font-family: "Poppins"
}

a {
    margin-left: 100px;
    font-family: "Poppins";
}

footer {
    margin-left: 100px;
    font-family: "Poppins";
    font-style: italic;
}

img:hover {
    cursor: url(/images/orangestar.png), auto;
}

.sectionblue {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background-color: midnightblue;
    padding: 20px 0;
    cursor: url("/images/orangestar.png"), auto;
}

@media screen and (max-width: 400px) {
    body {
        font-size: 1rem;

        .entry01img {
            grid-template-columns: (1fr);
        }

        .entry02img {
            grid-template-columns: (1fr);
        }

        .entry03img {
            grid-template-columns: (1fr);
        }

        .entry04img {
            grid-template-columns: (1fr);
        }

        .entry05img {
            grid-template-columns: (1fr);
        }

        .entry06img {
            grid-template-columns: (1fr);
        }

        .entry07img {
            grid-template-columns: (1fr);
        }
    }

    .titles {
        font-size: 1rem;
    }
}

@media (max-width: 1200px) {
    body {
        font-size: 1.25rem;
        padding-right: 1.75rem;

        .entry01img {
            grid-template-columns: repeat(auto-fill, minmax(420px, 3fr));
            gap: 1.5rem;
        }

        .entry02img {
            grid-template-columns: repeat(auto-fill, minmax(420px, 2fr));
            gap: 1.5rem;
        }

        .entry03img {
            grid-template-columns: repeat(auto-fill, minmax(420px, 2fr));
            gap: 1.5rem;
        }

        .entry04img {
            grid-template-columns: repeat(auto-fill, minmax(420px, 2fr));
            gap: 1.5rem;
        }

        .entry05img {
            grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
            gap: 1.5rem;
        }

        .entry06img {
            grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
            gap: 1.5rem;
        }

        .entry07img {
            grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
            gap: 1.5rem;
        }

    }

    .titles {
        font-size: 1.3rem;
    }
}

.menuitem {
    position: absolute;
    top: 0;
    right: 0;
    margin: 60px;
}

.menuitem {
    cursor: pointer;
}