@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  cursor: url("images/star.png"), 0 0, auto;
  margin: 0%;
}

body {
  background-color: ivory;

}

h1 {
  color: midnightblue;
  margin-top: 50px;
  margin-left: 50px;
  font-family: "Poppins"
}

h3 {
  color: midnightblue;
  margin-left: 100px;
  font-family: "Poppins";
}


p {
  color: midnightblue;
  margin-left: 100px;
  margin-right: 50px;
  font-family: "Poppins"
}

a {
  font-family: "Poppins";
}

footer {
  margin-left: 100px;
  font-family: "Poppins";
  font-style: italic;
}

.links {
  text-align: left;
  padding-bottom: 100px;
}

.name {
  text-align: left;
  margin-top: 100px;
  margin-left: 50px;
  font-family: "Poppins";
  font-size: 4em;
  line-height: 200%;
  max-width: 800px;
}

.name2 {
  text-align: left;
  margin-top: 100px;
  margin-left: 50px;
  font-family: "Poppins";
  font-size: 4em;
  line-height: 250%;
  max-width: 900px;
}

.desc {
  font-family: "Poppins";
  font-size: 1.5em;
  margin-top: -80px;
  line-height: 300%;
}

.categories {
  display: flex;
  flex-direction: row;
  width: 95%;
}

.categories img {
  flex: 1;
  max-width: 95%;
  height: auto;
  padding-left: 50px;
}