body {
    background-color: ivory;
    
  }
  
  h1 {
    color: midnightblue;
    margin-left: 20px;
    font-family: Poppins;
  }

  h3 {
    color: midnightblue;
    margin-left: 20px;
    font-family: Poppins;
  }

  img {
    margin-left: 20px;
  }

  p {
    color: midnightblue;
    margin-left: 20px;
    font-family: Poppins;
  }

  a {
    margin-left: 20px;
  }

  a {
    color: midnightblue;
    font-family: Poppins;
  }
  
  a:visited {
    color: orange;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    color: orangered;
  }